<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function cb(selection) {
        $.getJSON({
            url: "/callback", data: { 'data': selection }, success: function (result) {
                Plotly.newPlot('chart', result, {});;
            }
        });
    }

    function ci(){
        console.log("HEEEEEY")
        document.getElementById('upload_file').submit();
    }

</script>

</script>

{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <br>
    <h2 style="display:flex; justify-content: center;"> Automatize your e-Commerce Analytics </h2>
    <br>
    <h6 style="padding-left: 3em; padding-right: 3em"> 
        In McKinsey&Company we aim to provide our customers a simple, practical and user-friendly tool 
        to help analizing their eCommerce company. To begin interacting with us, <span>upload</span> your 
        .csv files:
    </h6>
    <br>
    <br>

    <div id = "fileUpload">
        <form method="post" enctype="multipart/form-data">
            <input class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle" type="file" name="file">
            <input class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle" type="submit" value="Begin Analizing!">
        </form>
    </div>

    <div class="char_container">
        <div id='chart' class='chart'></div>
    </div>

    <form class="form-inline">
        <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><strong>Please select</strong></span>
                <select name="comp_select" class="selectpicker form-control" onchange="cb(this.value)">
                    {% for o in data %}
                    <option value="{{ o.name }}">{{ o.name }}</option>
                    {% endfor %}
                </select>
        </div>
    </form>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% if render_graphics %}
<script>
    cb("Days");
</script>
{% endif %}
{% endblock javascripts %}